In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Dwarka,22.24,68.97,80.73,78,59,11.43,IN,2020-09-01 23:43:01
1,1,Atuona,-9.80,-139.03,79.21,74,21,20.20,PF,2020-09-01 23:44:29
2,2,Vila Velha,-20.33,-40.29,73.40,83,40,4.70,BR,2020-09-01 23:44:16
3,3,Hirara,24.80,125.28,84.20,83,75,12.75,JP,2020-09-01 23:44:29
4,4,Taoudenni,22.68,-3.98,96.48,28,58,5.53,ML,2020-09-01 23:44:30

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudy = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudy, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Dwarka,22.24,68.97,80.73,78,59,11.43,IN,2020-09-01 23:43:01
1,1,Atuona,-9.80,-139.03,79.21,74,21,20.20,PF,2020-09-01 23:44:29
3,3,Hirara,24.80,125.28,84.20,83,75,12.75,JP,2020-09-01 23:44:29
8,8,Sabha,27.04,14.43,84.43,14,0,11.54,LY,2020-09-01 23:44:31
13,13,Georgetown,5.41,100.34,80.60,94,20,2.24,MY,2020-09-01 23:44:31
14,14,Dingle,11.00,122.67,81.66,78,51,2.28,PH,2020-09-01 23:44:32
16,16,Gizo,-8.10,156.84,84.15,71,56,6.76,SB,2020-09-01 23:44:33
26,26,Naze,28.37,129.48,84.20,89,75,35.57,JP,2020-09-01 23:44:36
39,39,Bennettsville,34.62,-79.68,88.00,74,1,1.34,US,2020-09-01 23:44:39
43,43,Aliaga,15.52,120.87,80.15,84,98,3.60,PH,2020-09-01 23:44:40

In [15]:
preferred_cities_df.count()

City_ID       185
City          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
Country       185
Date          185
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0          Dwarka      IN     80.73  22.24   68.97
1          Atuona      PF     79.21  -9.80 -139.03
3          Hirara      JP     84.20  24.80  125.28
8           Sabha      LY     84.43  27.04   14.43
13     Georgetown      MY     80.60   5.41  100.34
14         Dingle      PH     81.66  11.00  122.67
16           Gizo      SB     84.15  -8.10  156.84
26           Naze      JP     84.20  28.37  129.48
39  Bennettsville      US     88.00  34.62  -79.68
43         Aliaga      PH     80.15  15.52  120.87

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Dwarka,IN,80.73,22.24,68.97,Hotel Narayan Avezika Comfort
1,Atuona,PF,79.21,-9.80,-139.03,Villa Enata
3,Hirara,JP,84.20,24.80,125.28,Hotel Atoll Emerald Miyakojima
8,Sabha,LY,84.43,27.04,14.43,محطة ام الارانب -سبها مواصلات
13,Georgetown,MY,80.60,5.41,100.34,Cititel Penang
...,...,...,...,...,...,...
540,Itacarambi,BR,78.01,-15.10,-44.09,POUSADA CAMALEÃO
541,Totness,SR,80.56,5.88,-56.32,STAATS LOGEERGEBOUW TOTNESS
542,Thayetmyo,MM,75.58,19.32,95.18,Ngwe Sin Kyal Guest House
549,Sao Felix Do Xingu,BR,80.60,-6.64,-51.99,Apart Hotel Rio Xingu
562,Dwarka,IN,80.73,22.24,68.97,Hotel Narayan Avezika Comfort

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))