## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Taltal,CL,-25.40,-70.48,59.85,68,22,5.68,few clouds
1,1,Torbay,CA,47.67,-52.73,69.80,77,40,17.22,scattered clouds
2,2,Mahebourg,MU,-20.41,57.70,69.80,73,75,12.75,broken clouds
3,3,Nouadhibou,MR,20.93,-17.03,77.00,83,0,14.99,clear sky
4,4,Kirakira,SB,-10.45,161.92,79.93,81,31,10.67,light rain

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Nouadhibou,MR,20.93,-17.03,77.00,83,0,14.99,clear sky
4,4,Kirakira,SB,-10.45,161.92,79.93,81,31,10.67,light rain
11,11,Ponta Do Sol,PT,32.67,-17.10,75.20,73,75,2.24,broken clouds
13,13,Atuona,PF,-9.80,-139.03,78.46,78,29,24.67,light rain
16,16,Half Moon Bay,US,37.46,-122.43,75.00,77,1,13.87,clear sky
19,19,Sikeston,US,36.88,-89.59,80.60,47,1,3.36,clear sky
22,22,Puerto Ayora,EC,-0.74,-90.35,75.20,64,20,19.46,few clouds
23,23,Surt,LY,31.21,16.59,79.16,81,0,12.53,clear sky
24,24,Avarua,CK,-21.21,-159.78,78.80,88,0,8.05,light rain
29,29,Hilo,US,19.73,-155.09,84.20,54,1,8.05,clear sky

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                222
City                   222
Country                221
Lat                    222
Lng                    222
Max Temp               222
Humidity               222
Cloudiness             222
Wind Speed             222
Current Description    222
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Nouadhibou,MR,77.00,clear sky,20.93,-17.03,
4,Kirakira,SB,79.93,light rain,-10.45,161.92,
11,Ponta Do Sol,PT,75.20,broken clouds,32.67,-17.10,
13,Atuona,PF,78.46,light rain,-9.80,-139.03,
16,Half Moon Bay,US,75.00,clear sky,37.46,-122.43,
19,Sikeston,US,80.60,clear sky,36.88,-89.59,
22,Puerto Ayora,EC,75.20,few clouds,-0.74,-90.35,
23,Surt,LY,79.16,clear sky,31.21,16.59,
24,Avarua,CK,78.80,light rain,-21.21,-159.78,
29,Hilo,US,84.20,clear sky,19.73,-155.09,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Nouadhibou,MR,77.00,clear sky,20.93,-17.03,El Medina
4,Kirakira,SB,79.93,light rain,-10.45,161.92,SanBiz Lodge
11,Ponta Do Sol,PT,75.20,broken clouds,32.67,-17.10,Hotel do Campo
13,Atuona,PF,78.46,light rain,-9.80,-139.03,Villa Enata
16,Half Moon Bay,US,75.00,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))